body {
  padding: 0px;
  margin: 0px;
}
#index {
  background-image: url(afbeeldingen/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#algemeen {
  background-image: url(afbeeldingen/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#baan {
  background-image: url(afbeeldingen/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#opleiding {
  background-image: url(afbeeldingen/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#foto {
  background-image: url(afbeeldingen/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#index-content {
  background-color: #BFFBFF;
  min-height: 50%;
  width: 76%;
  margin-top: 15px;
  height: 60%;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 60px;
  float: left
}
#index-content p {
  width: 80%;
}
#index-content img {
  margin-right: 5%;
  float: left;
}


#baan-content{
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 60px;
}
#baan-content h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}
#baan-content p {
  position: relative;
}
#baan-content img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid blue;
}

#algemeen-content {
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 60px;
}
#algemeen-content a {
  color: blue;
}
#algemeen-content a:hover {
  text-decoration: inherit;
}

#opleiding-content {
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 60px;
}

#opleiding-content h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

#opleiding-content p {
  position: relative;
}

#opleiding-content img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  border: none;
  background-color: #BFFBFF;
}

#foto-content{
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 60px;
}
#foto-content h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}
#foto-content p {
  margin-left:25%;
}
#foto-content img {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 20%;
  border: 1px solid blue;
}

#top-button:hover {
  text-decoration: none;
  color: inherit;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
footer {
  background-color: #6ab446;
  height: 60px;
  width: 100%;
  text-align: center;
  clear: both;
  position: absolute;
  bottom: 0;
}
footer p {
  font-size: xx-small;
  margin-bottom: .2px;
}

#top-button {
  bottom: 10px;
  max-width: 30px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(106, 180, 70);
  padding: .5px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  text-align: center;

}
#top-button:hover {
  text-decoration: none;
  color: inherit;
}

/*--- navigation bar ---*/
.navbar {
  background: #6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  background-color: #6ab670;
  margin-left: 5px;
  border: 1px solid green;
}
.navbar-brand {
  height: 100px;
  width: auto;
}
