<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
body {
  padding: 0;
  margin: 0;
  background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content {
  background-color: #BFFBFF;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 8px;
  height: auto;
}
#baan-content h2 {
position: relative;
}

/*--- navigation bar ---*/
.navbar {
  background: #6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  background-color: #6ab670;
  margin-left: 5px;
  border: 1px solid green;
}
.navbar-brand {
  width: 100px;
  height: 100px;
}
.navbar-backgound {
  margin: 10px;
  width: 100%;
  height: 100px;
}
