body {
  padding: 0px;
  margin: 0px;
}
#index {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#index-content {

  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#baan-content{
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#baan-content h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}
#baan-content p {
  position: relative;
}
#baan-content img {
  margin-top: 10px;
  margin-bottom: 10px;
}

#algemeen-content {
  background-color: #BFFBFF;
  width: 76%;
  margin-top: 15px;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#algemeen-content img {
  float: right;
  clear: right;
}

footer {
  background-color: #6ab446;
  height: 5%;
  width: 100%;
  text-align: center;
}
footer p {
  font-size: xx-small;
  margin-bottom: .2px;
}

#top-button {
  bottom: 10px;
  max-width: 30px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(106, 180, 70);
  padding: .5px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  text-align: cetner

}
#top-button:hover {
  text-decoration: none;
  color: inherit;
}

/*--- navigation bar ---*/
.navbar {
  background: #6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  background-color: #6ab670;
  margin-left: 5px;
  border: 1px solid green;
}
.navbar-brand {
  width: 100px;
  height: 100px;
}
.navbar-backgound {
  margin: 10px;
  width: 100%;
  height: 100px;
}
